@import url('https://fonts.googleapis.com/css?family=Antic+Slab|Armata|Glegoo|Indie+Flower|Nixie+One|Pacifico');
body{
	font-size: 16px;
	font-family: 'Indie Flower', cursive;
	font-family: 'Pacifico', cursive;
	
	font-family: 'Glegoo', serif;
	font-family: 'Antic Slab', serif;
	font-family: 'Armata', sans-serif;
	
}
.game, .waiting {
    display: none;
}
.js-show {
    display: block;
}

.js-hide {
    display: none;
}

.main{
	background: #f6f6f6;
	width: 480px;
	margin: 3em auto;
	padding: 2em 2em;
	border: 1px solid #d2d2d2;
	border-top: 5px solid #000;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 12px 60px 0 rgba(0, 0, 0, 0.12);
}
.main .heading{
	background: #fcf2c7;
	padding: 0.4em;
}
.main h1{
	font-family: 'Nixie One', cursive;	
	text-align: center;
	position: relative;
}
.main h1 span{
	color: #D24D57;
}
.main h1:after{
	content: " ";
	width: 40px;
	height: 2px;
	background: #D24D57;
	position: absolute;
	top: 105%;
	left: 45%;
}
.game input{
	padding: 1em;
	border: 1px solid #d2d2d2;
	border-radius: 2px;
	min-width: 250px;
}

button#ready{
	padding: 0.6em;
	background: #9B59B6;
	font-family: 'Pacifico', cursive;
	border: none;
	min-width: 8em;
	font-size: 18px;
	color: #fff;
}
.game button.control{
	padding: 0.8em;
	background: #336E7B;
	font-family: 'Pacifico', cursive;
	border: none;
	min-width: 8em;
	color: #fff;
	border-radius: 2px;
}
.game button.control:disabled {
    background: #dddddd;
}
